<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="/css/normalize.css", rel="stylesheet")
        link(href="/css/app.css", rel="stylesheet")
        
        title #{namePage}
    body
        header.barra
            h1 UpTask - Administrador de Lista de Tareas
            a(href="#") Cerrar sesión
            
        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="#" class="boton")  Nueva Lista 
                        spa +
                .panel.lista-proyectos
                    h2 Listas
                    ul#proyectos.proyectos
                        li
                            a(href="#") Diseño de tienda virtual

            block contenido